@page
@model TermsModel
@{
    ViewData["Title"] = "Điều khoản dịch vụ";
}

<h2>Điều khoản dịch vụ</h2>
<p>Khi sử dụng ứng dụng, bạn đồng ý với các điều khoản sử dụng, chính sách và quy định hiện hành của chúng tôi.</p>
